<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CTC功能测试</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<style>
    .fakeimg {
        height: 200px;
         background: #aaa;
    }
  </style>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>CTC功能测试</h1>
  <p>哪里不会点哪里</p>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">界面入口</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">主页</a></li>
        <li><a href="#">标准文件</a></li>
        <li><a href="#">兼容性问题</a></li>
        <li><a href="#">特殊场景</a></li>
        <li><a href="#">用例库</a></li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<!-- <div class="container"> -->
<div class="col-sm-4 col-md-offset-4">
<div class="input-group">
<input type="text" class="form-control input-lg">
<span class="input-group-addon btn btn-primary">随便搜搜</span>
</div>
</div>



<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>关键词搜索量总排名</h3>
      <h5>查看更多</h5>
        <table class="table table-striped text-center ">
          <!-- <caption>悬停表格布局</caption> -->
          <thead>
            <tr>
              <th class="text-center">关键词</th>
              <th class="text-center">搜索次数</th>
              <th class="text-center">相关标准条数</th>
              <th class="text-center">相关特殊场景数量</th>
              <th class="text-center">相关用例数量</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>车次跟踪</td>
              <td>1000</td>
              <td>561</td>
              <td>500</td>
              <td>500</td>
            </tr>
            <tr>
              <td>自动触发</td>
              <td>Mumbai</td>
              <td>400003</td>
              <td>500</td>
              <td>500</td>
            </tr>
            <tr>
              <td>计划下达</td>
              <td>Pune</td>
              <td>411027</td>
              <td>500</td>
              <td>500</td>
            </tr>
            <tr>
              <td>报点预告</td>
              <td>Pune</td>
              <td>411027</td>
              <td>500</td>
              <td>500</td>
            </tr>
            <tr>
              <td>调度命令</td>
              <td>Pune</td>
              <td>411027</td>
              <td>500</td>
              <td>500</td>
            </tr>
            <tr>
              <td>没想好呢</td>
              <td>Pune</td>
              <td>411027</td>
              <td>500</td>
              <td>500</td>
            </tr>
          </tbody>
        </table>

    </div>

</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>待开发</p>
</div>
</body>
</html>
